.image_wrap > img {
    width: 40px;
}

.image_wrap {
    text-align: center;
}

.tool_wrap {
    display: inline-block;
    width: 90px;
    font-size: 15px;
    font-family: Tahoma;
    background: #F7F7F7;
    padding: 5px 2px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    cursor: pointer;
    margin: 5px 2px;
}

.text {
    text-align: center;
    box-shadow: 0 -2px 2px -2px;
    margin-top: 5px;
}